<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Authentification</display-name>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  <display-name>Bibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargerLivre</display-name>
    <servlet-name>ChargerLivre</servlet-name>
    <servlet-class>ChargerLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargerLivre</servlet-name>
    <url-pattern>/ChargerLivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterLivre</display-name>
    <servlet-name>AjouterLivre</servlet-name>
    <servlet-class>AjouterLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterLivre</servlet-name>
    <url-pattern>/AjouterLivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmprunt</display-name>
    <servlet-name>ListEmprunt</servlet-name>
    <servlet-class>ListEmprunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmprunt</servlet-name>
    <url-pattern>/ListEmprunt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeMembre</display-name>
    <servlet-name>ListeMembre</servlet-name>
    <servlet-class>ListeMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeMembre</servlet-name>
    <url-pattern>/ListeMembre</url-pattern>
  </servlet-mapping>
</web-app>